{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block recherche %}
    <div class="formtop">
        <form action="{{ path('admin_books_by_style') }}" class="bystyle">
            <label for="author">Auteur</label>
            <input type="text"  placeholder="Auteur" name="author">
            <label for="style">Style</label>
            <input type="text" placeholder="Style du livre" name="style">
            <label for="title">Titre</label>
            <input type="text" placeholder="Titre du livre" name="title">
            <label for="inStock">Livre Disponible</label>
            <input type="checkbox" id="inStock" name="inStock" value="ok"
            {% if inStock is defined %}
                {% if inStock %}
                    checked
                {% endif %}
            {% endif %}>
            <input type="submit" value="rechercher">
        </form>
        <a href="{{ path('admin_update_book') }}" class="new">Ajouter un livre</a>
    </div>
{% endblock %}

{% block main %}
{% if books %}
    {% for book in books %}
        <div class="mainbook">
            <div class="titrebook">
                <h2>{{ book.title }}</h2>
            </div>
            <br>
            <div class="categoriebook">
                <h5>Caractéristiques :</h5>
                <em>Nombre de pages : {{ book.nbPages }}pages.</em>
                <em>Catégorie : {{ book.style }}.</em>
            </div>
            <div class="dispobook">
                {% if book.inStock == true %}
                    <em><p><span class="green">disponible</span></p></em>
                {% elseif book.inStock == false %}
                    <em><p><span class="red">indisponible</span></p></em>
                {% endif %}
                {% if book.author is not null %}
                {{ book.author.fullName }}
                {% else %}
                    <em>Auteur non renseigné</em>
                {% endif %}
            </div>
            <a href="{{ path('admin_book', {'id':book.id}) }}"><input type="button" value="plus d'info" class="seemoreinfo"></a>
            <a href="{{ path('admin_books_update_form', {'id':book.id}) }}"><input type="button" value="modifier" class="seemoreupdate"></a>
            <a href="{{ path('admin_remove_book', {'id':book.id}) }}"><input type="button" value="supprimer" class="seemoresupp"></a>
        </div>
    {% endfor %}
{% else %}
    <div class="mainerror">
        <p>Désolé, cette catégorie n'existe pas</p>
        <a href="{{ path('admin_books') }}" class="backButton">Retour accueil books</a>
    </div>
{% endif %}
{% endblock %}
