{% extends 'base.html.twig' %}
{% block title %}One Author{% endblock %}
{% block main %}
    {% if message is defined %}
        {{ message }}
    {% endif %}
    <div class="mainauthor">
        <div class="author">
            <h2>{{ author.name }} {{ author.firstname }}</h2>
        </div>
        <br>
        <div class="detailauthor">
            <p><em>Née le {{ author.birthDate |date ("d/m/y") }}.</em></p>
            {% if author.deathDate is not null %}
                <p><em>Mort en {{ author.deathDate |date ("d/m/y") }}</em></p>
            {% else %}
                <p><em>Toujours vivant.</em></p>
            {% endif %}
            <br>
            <h4>Biographie:</h4>
            <p>{{ author.biography }}</p>
        </div>
        <br>
        <a href="{{ path('admin_books_by_author', {'id':author.id}) }}"><input type="button" value="voir ses livres" class="seemoreupdate"></a>
            <a href="{{ path('admin_authors') }}"><input type="button" value="Retour Authors" class="seemoreinfo"></a>
    </div>
{% endblock %}