{#Je fais appel à ma Base HTML.#}
{% extends 'base.html.twig' %}


{% block title %}Authors{% endblock %}

{% block recherche %}
    <div class="formtop">
        <form action="{{ path('admin_authors_by_name') }}" class="bystyle">
            <label for="name">Nom</label>
            <input type="text" placeholder="Nom de l'auteur" name="name">
            <label for="firstname">Prenom</label>
            <input type="text" placeholder="Prenom de l'auteur" name="firstname">
            <label for="biograpy">Biographie</label>
            <input type="text" placeholder="Biographie" name="biography">
            <input type="submit" value="rechercher">
        </form>
        <a href="{{ path('admin_update_author') }}" class="new">Ajouter un auteur</a>
    </div>
{% endblock %}

{% block main %}
    {% for author in authors %}
        <div class="mainauthor">
            <div class="author">
                <h2>{{ author.name }} {{ author.firstname }}</h2>
            </div>
            <br>
            <div class="detailauthor">
                <p><em>Née le {{ author.birthDate|date("d/m/y") }}.</em></p>
                {% if author.deathDate %}
                    <p><em>Mort en {{ author.deathDate|date("d/m/y") }}</em></p>
                {% else %}
                    <p><em>Toujours vivant.</em></p>
                {% endif %}
                <h4>Biographie:</h4>
                <p>{{ author.biography }}</p>
            </div>
            <a href="{{ path('admin_author', {'id':author.id}) }}"><input type="button" value="plus d'info" class="seemoreinfo"></a>
            <a href="{{ path('admin_authors_update_form', {'id':author.id}) }}"><input type="button" value="modifier" class="seemoreupdate"></a>
            <a href="{{ path('admin_remove_author', {'id':author.id}) }}"><input type="button" value="supprimer" class="seemoresupp"></a>
        </div>

    {% endfor %}
{% endblock %}
