{#Je fais appel à ma Base HTML.#}
{% extends 'base.html.twig' %}


{% block title %}Authors{% endblock %}
{% block main %}
    {% for author in authors %}
        <div class="mainauthor">
            <div class="author">
                <h2>{{ author.name }} {{ author.firstname }}</h2>
            </div>
            <br>
            <div class="detailauthor">
                <p><em>Née le {{ author.birthDate|date("d/m/y") }}.</em></p>
                {% if author.deathDate %}
                    <p><em>Mort en {{ author.deathDate|date("d/m/y") }}</em></p>
                {% else %}
                    <p><em>Toujours vivant.</em></p>
                {% endif %}
            </div>
            <br>
            <a href="{{ path('author', {'id':author.id}) }}"><input type="button" value="plus d'info" class="seemore"></a>
        </div>

    {% endfor %}
{% endblock %}
