{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block recherche %}
    <div class="formtop">
        <form action="{{ path('books_by_style') }}" class="bystyle">
            <label for="style">Style</label>
            <input type="text" placeholder="Style du livre" name="style">
            <label for="title">Titre</label>
            <input type="text" placeholder="Titre du livre" name="title">
            <label for="inStock">Livre(s) Disponible(s)</label>
            <input type="checkbox" id="inStock" name="inStock" value="ok"
            {% if inStock is defined %}
                {% if inStock %}
                    checked
                {% endif %}
            {% endif %}>
            <input type="submit" value="rechercher">
        </form>
    </div>
{% endblock %}

{% block main %}
{% if books %}
    {% for book in books %}
        <div class="mainbook">
            <div class="titrebook">
                <h2>{{ book.title }}</h2>
            </div>
            <br>
            <div class="categoriebook">
                <h3>Caractéristiques :</h3>
                <em>Nombre de pages : {{ book.nbPages }}pages.</em>
                <br>
                <em>Catégorie : {{ book.style }}.</em>
            </div>
            <br>
            <div class="dispobook">
                {% if book.inStock == true %}
                    <em><p><span class="green">disponible</span></p></em>
                {% elseif book.inStock == false %}
                    <em><p><span class="red">indisponible</span></p></em>
                {% endif %}
            </div>
            <br>
            <a href="{{ path('book', {'id':book.id}) }}"><input type="button" value="plus d'info" class="seemore"></a>
        </div>
    {% endfor %}
{% else %}
    <div class="mainerror">
        <p>Désolé, cette catégorie n'existe pas</p>
        <a href="{{ path('books') }}" class="backButton">Retour accueil books</a>
    </div>
{% endif %}
{% endblock %}
