{% extends 'base.html.twig' %}
{% block title %}One Book{% endblock %}
{% block main %}
    {% if message is defined %}
    {{ message }}
    {% endif %}
    <div class="mainbook">
        <div class="titrebook">
            <h2>{{ book.title }}</h2>
        </div>
        <br>
        <div class="categoriebook">
            <h3>Caractéristiques :</h3>
            <em>Nombre de pages : {{ book.nbPages }}pages.</em>
            <br>
            <em>Catégorie : {{ book.style }}.</em>
        </div>
        <br>
        <div class="dispobook">
            {% if book.inStock == true %}
                <em><p>Statut : <span class="green">disponible</span></p></em>
            {% elseif book.inStock == false %}
                <em><p>Statut : <span class="red">indisponible</span></p></em>
            {% endif %}
        </div>
        <br>
        <a href="{{ path('books') }}"><input type="button" value="Retour Books" class="seemore"></a>
    </div>
{% endblock %}
